{% extends "index.html" %}
{% load static %}
{% block content%}

<link rel="stylesheet" type="text/css" href="{% static 'style_liste_personnels.css' %}">
<body style='background-color: #393939 ;'> 
<div style="margin-top:6%">
    {% for personnel in personnels %}
        <div class="card d-inline-block mt-5 mx-lg-10 taille">
            {% if personnel.civilite == 'Femme' %}
                <img src="{% static 'computerApp/images/employe_f.png' %}" class="card-img-top contenu" alt="logo">
            {% else %}
                <img src="{% static 'computerApp/images/employe_h.png' %}" class="card-img-top contenu" alt="logo">
            {% endif %}
            <div class="card-body fond">
                <a class="no-line" href="{% url 'personnel-detail' personnel.id %}"><h5 class="card-title text-white">{{personnel.nom}} {{personnel.prenom}}</h5></a>
            </div>
        </div>
    {% endfor %}
</div>
</body>
{% endblock %}
