{% extends "index.html" %}
{% load static %}
    {% block content%}
    
        {% for personnel in personnels %}
            <div class="card d-inline-block mt-5 mx-lg-10" style="width: 300px;">
                {% if personnel.civilite == 'Madame' %}
                    <img src="{% static 'computerApp/images/employe_f.png' %}" class="card-img-top" alt="logo" style="height: 100px; object-fit: contain;">
                {% else %}
                    <img src="{% static 'computerApp/images/employe_h.png' %}" class="card-img-top" alt="logo" style="height: 100px; object-fit: contain;">
                {% endif %}
                <div class="card-body" style="background-color: black;">
                    <p class="card-title text-white"> {{personnel.nom}}</p>
                    <p class="card-title text-white">E-mail : {{ personnel.email }}</p>
                    <p  class="card-title text-white">Poste : {{ personnel.poste }}</p>

                    <div class="card-body" style="background-color: black;">
                      <h5 class="card-title text-white">{{ personnel.nom }}</h5>
                        <a href="{% url 'personnel-detail' personnel.id %}"> {{personnel.id}}</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endblock %}
