
{% extends "index.html" %}
{% load static %}
    {% block content%}
      {% for machine in machines %}
        <div class="card d-inline-block mt-5 mx-lg-10" style="width: 300px;">
        {% if machine.mach == 'Serveur' %}
          <img src="{% static 'computerApp/images/serveur.png' %}" class="card-img-top" alt="logo" style="height: 100px; object-fit: contain;">
        {% endif %}
        
        {% if machine.mach == 'Switch' %}
          <img src="{% static 'computerApp/images/commutateur.png' %}" class="card-img-top" alt="logo" style="height: 100px; object-fit: contain;">
        {% endif %}
        
        {% if machine.mach == 'Routeur' %}
          <img src="{% static 'computerApp/images/routeur.png' %}" class="card-img-top" alt="logo" style="height: 100px; object-fit: contain;">
        {% endif %}
        
        {% if machine.mach == 'Mac' %}
          <img src="{% static 'computerApp/images/mac.png' %}" class="card-img-top" alt="logo" style="height: 100px; object-fit: contain;">
        {% endif %}
        
        {% if machine.mach == 'PC' %}
          <img src="{% static 'computerApp/images/jeux.png' %}" class="card-img-top" alt="logo" style="height: 100px; object-fit: contain;">
        {% endif %}

          <div class="card-body" style="background-color: black;">
            <h5 class="card-title text-white">{{ machine.nom }}</h5>
              <a href="{% url 'machine-detail' machine.id %}"> {{machine.id}}</a>
          </div>
        </div>
      {% endfor %}
    {% endblock %}
