{% extends "index.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'style_machine_add.css' %}">
<body style='background-color: #282626 ;'>  
<div class="container d-flex justify-content-center align-items-center taille" style="width: 100%;margin-top:6% ;">
  <div class="card text-white w-75 fond">
    <div class="card-body">
          <form method="post" class="form-horizontal">
              {% csrf_token %}

                <div class="form-group">
                  <label>Nom de la machine :</label>
                  <div>
                    {{ form.nom_m }}
                  </div>
                </div>
        
                <div class="form-group">
                  <label>Date de maintenance :</label>
                  <div style="width:70%">
                    {{ form.maintenanceDate}}
                  </div>
                </div>
        
                <div class="form-group">
                  <label >Infrastructure :</label>
                  <div style="width:70%">
                    {{ form.lieu_infrastructure }}
                  </div>
                </div>
        
                <div class="form-group">
                  <label>Type de matériel :</label>
                  <div style="width:70%">
                      {{ form.type_materiel }}
                  </div>
                </div>


              <div class="form-group mt-3">
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary">Ajouter</button>
                  </div>
              </div>

          </form>
      </div>
  </div>
</div>
</body>  
{% endblock %}
