{% extends 'index.html' %}
{% load static %}
{% block content%}

<link rel="stylesheet" type="text/css" href="{% static 'style_machine_detail.css' %}">
<body style='background-color: #282626;'> 
<div style="margin-top:6%">
  <div class="container">
    <div class="card mx-auto mt-5 taille">
      <div class="card-header">
        <h1>{{machine.nom_m}}</h1>
      </div>
      <div class="card-body">
        <p> <strong>Id :</strong> {{machine.id}}</p>
        <p> <strong>Nom de la machine : </strong> {{machine.nom_m}}</p>
        <p> <strong>Date de maintenance : </strong> {{machine.maintenanceDate}} </p>
        <p> <strong>Machine :</strong> {{machine.type_materiel}} </p>
        <p> <strong>Infrastructure :</strong> {{machine.lieu_infrastructure}} </p>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock%}
