{% extends "index.html" %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card text-white w-75" style="background-color: #1c1c1c; max-width: 400px;">
    <div class="card-body">
      <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group mt-4">
          <h5 class="control-label" for="civilite">Civilité:</h5>
          <div>
            <select class="form-control form-control-sm" id="civilite" name="civilite">
              <option value="Monsieur">Monsieur</option>
              <option value="Madame">Madame</option>
            </select>
          </div>
        </div>
        
        <div class="form-group mt-4">
          <h5 class="control-label" for="nom">Nom:</h5>
          <div>
            {{ form.nom }}
          </div>
        </div>
        
        <div class="form-group mt-4">
          <h5 class="control-label" for="prenom">Prénom:</h5>
          <div>
            {{ form.prenom }}
          </div>
        </div>
        
        <div class="form-group mt-4">
          <h5 class="control-label" for="email">Email:</h5>
          <div>
            {{ form.email }}
          </div>
        </div>
        
        <div class="form-group mt-4">
          <h5 class="control-label" for="poste">Poste:</h5>
          <div>
            {{ form.poste }}
          </div>
        </div>
        
        <div class="form-group mt-4">
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
